option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "da2.settings"
    "PYTHONPATH": "/opt/python/current/app/da2:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: da2/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
